.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.boton{
   background: url("../img/gold_button_pressed.png") no-repeat center center;
   background-size: 100% 100%;
   border: none;
   cursor: pointer;
   padding: 5px 20px;
   text-align: center;
}

.boton-menu{
   width: 190px;
   height: 42px;
   padding: 0;
}

.texto{
   background: url("../img/gold_button_pressed\ -\ copia.png") no-repeat center center;
   background-size: 107% 120%;
   border: none;
   image-rendering: pixelated;
   padding: 5px 20px;
}

.texto:focus{
   outline: none;
   border: none;
   box-shadow: none;
}
